@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.linkStyled {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #22c55e; 
}

.linkStyled:hover {
  filter: brightness(120%); 
}


@layer components {
  .layoutBoxed {
    @apply max-w-7xl mx-auto p-4;
  }
  
  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700 placeholder-gray-400;
  }
}